div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #a8edc8;
    background-image: linear-gradient(45deg, #b3f1d0 0%, #ffffff 100%);

}
h1{
    position: relative;
    top: 30px;
    float: left;
    right: 27%;
    font-family: 'Darker Grotesque', sans-serif;
    font-family: 'Edu TAS Beginner', cursive;
    font-family: 'Ubuntu', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 55px;
    text-shadow: 2px 2px 2px #000000;
}
img{
    position: absolute;
    top: 0%;
    right: 60%;
    width: 100px;
    height: 100px;

}

a{
    text-decoration: none;
    color: white;
}
