form {
    width: 250px;  
    margin: 20px;
    padding: 20px;
    display: inline-block;
    background-color: none;
}

h2 {
    text-align: center;
    font-size: 2rem;
}

input {
    width: 100%;
    box-sizing: border-box;
    margin: 0 0 10px 0; 
    font-size: 15px;
}

button {
    width: 100%;
    margin: 10px 0 20px 0;
}
mat-hint:not(.old-color) {
    color: red;
}
input::placeholder {
    font-weight: bold;
    opacity: .5;
    font-size: smaller;
}
.inputWidth{
    width: 100%;
}

div{
    position: fixed;
    width: 250px;  
    margin: 20px;
    padding: 20px;
    display: inline-block;
    text-align: center;
    left: 3px;

}