
<span class="box">
    <div>
        {{product.name}}
    </div>

        <div>
            <img [src]="productImagesUrl + product.imageName" />
    </div>
<div class="price">
        Price: {{product.price | currency}} 
    </div>
    <button class="btn btn-primary" *ngIf="user?.role === 'Admin'" (click)="sendProductId()">Edit</button>
    <button *ngIf="!clicked && user?.role !== 'Admin'" (click)="buyMe()" class="btn btn-primary">Buy</button>
    <button *ngIf="clicked && user?.role !== 'Admin'" (click)="buyMe()" (click)="addProductToCart()" class="btn btn-primary">Add to cart</button>
    <div *ngIf="clicked" class="clicked">
        <label>Amount: </label>
        <input type="number" name = "amount" min="1" max="100" [(ngModel)]="amount" required step="1" oninput="validity.valid||(value='');" >
        <!-- <button (click)="addProductToCart()" class="btn btn-outline-danger">Add to cart</button> -->
    </div>
</span>


